.order-details-container {
  border: 1px solid #b1c2be;
  margin: auto;
  width: 95%;
}

.order-details-container table {
  margin: auto;
  padding: 10px 0;
}

.order-details-container button:nth-child( 2 ) {
  background-color: var(--secondary-color);
}

.default-tertiary-button {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
  transition: 300ms;
}

.default-tertiary-button.finish{
  background: rgb(0, 204, 204);
  border: 1px solid rgb(0, 204, 204);
  color: white;
  transition: 300ms;
}
.default-tertiary-button:hover {
  background: inherit;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.default-tertiary-button.finish:hover {
  background: inherit;
  border: 1px solid rgb(0, 204, 204);
  color: rgb(0, 204, 204);
}

.order-details-container header {
  background-color: var(--default-light-color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.order-details-container td {
  color: white;
  padding: 5px 10px;
}

.order-details-container table td:nth-child( 1 ) {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

.order-details-container table td:nth-child( 2 ) {
  background-color: var(--default-light-color);
  color: var(--default-dark-color);
  width: 850px;
}

.order-details-container table td:nth-child( 3 ) {
  background-color: var(--primary-color);
}

.order-details-container table td:nth-child( 4 ) {
  background-color: var(--tertiary-color);
}

.order-details-container table td:nth-child( 5 ) {
  background-color: var(--quaternary-color);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
