.checkout-table {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.product-row {
  background-color: var(--default-light-color);
}

.product-row td:nth-child( 1 ) {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.product-row td:nth-child( 3 ) {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}

.product-row td:nth-child( 4 ) {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  color: white;
}

.product-row td:nth-child( 5 ) {
  background-color: var(--quaternary-color);
  border-radius: 5px;
  color: white;
}

.product-row td:nth-child( 6 ) {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.product-row button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  height: 20px;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.product-row button:hover {
  color: black;
}
