:root {
  --primary-color: #036B52;
  --secondary-color: #2FC18C;
  --tertiary-color: #421981;
  --quaternary-color: #056CF9;
  --default-dark-color: #001813;
  --default-light-color: #F2FFFC;
}

/**

Exemplo de utilização das variáveis:

elemento {
  color: var(--primary-color);
}

**/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
